- name: create db file
  template:
    src: db.j2
    dest: /etc/bind/{{item.name}}.db
  become: true
  loop: "{{ hosts }}"

- name: add to config
  blockinfile:
    path: /etc/bind/named.conf.local
    create: true
    marker: // {mark}
    block: |
      zone "{{item.name}}" {
          type master;
          file "/etc/bind/{{item.name}}.db";
          notify no;
      };
  become: true
  loop: "{{ hosts }}"

- name: restart bind
  systemd:
    name: bind9
    state: restarted
  become: true
